<main class="flex flex-col items-center mt-20 pb-5 bg-gray-900 text-gray-200">
    <h1 class="font-serif text-4xl py-5">Me contacter</h1>
    <form class="w-16/20 flex flex-col items-center gap-4" (keyup)="validateForm($event)" [formGroup]="data" (ngSubmit)="onSubmit(data.value)" data-valid="0">
        <div class="flex flex-col gap-3">
            <label for="">Nom Complet : <span class="text-red-500">*</span></label>
            <div class="flex flex-row justify-between">
                <input required class="text-black w-9/20 rounded-lg border-2 border-black px-2" formControlName="lastName" type="text" placeholder="Nom" data-validate="false">
                <input required class="text-black w-9/20 rounded-lg border-2 border-black px-2" formControlName="firstName" type="text" placeholder="Prénom" data-validate="false">
            </div>
            <label for="">Mail : <span class="text-red-500">*</span></label>
            <div>
                <input required type="mail" placeholder="Mail@mail.fr" class="text-black rounded-lg border-2 border-black px-2" formControlName="email" data-validate="false">
            </div>
            <label for="">Téléphone :</label>
            <div>
                <input formControlName="phone" type="tel" placeholder="0678912345" class="text-black w-full rounded-lg border-2 border-black px-2" data-validate="false">
            </div>
            <label for="">Sujet : <span class="text-red-500">*</span></label>
            <div>
                <select required formControlName="explanation" [(ngModel)]="selectedOption" (change)="validateForm($event)" class="text-black w-full rounded-lg border-2 border-black px-2 py-1 capitalize" data-validate="false">
                    <option selected disabled value="undefined">--- Choisissez un Sujet ---</option>
                    <option *ngFor="let subject of subjects" value="{{subject.id}}" class="capitalize">{{subject.title}}</option>
                </select>
            </div>
            <label for="">Message : <span class="text-red-500">*</span></label>
            <div>
                <textarea required formControlName="text" cols="30" rows="10" minlength="75" placeholder="Message" class="text-black w-full rounded-lg border-2 border-black px-2" data-validate="false"></textarea>
                <label for="">75 Caractères minimum : <span id="textareaLenght">0</span>/75</label>
            </div>
        </div>
        <button type="submit" disabled class="nm-convex-green-600-sm disabled:nm-concave-gray-800 text-xl font-roboto px-3 py-1 rounded-lg">Envoyer</button>
    </form>
</main>