<footer class="text-2xl font-bold bg-[url('src/assets/imgs/fond.jpg')] bg-cover bg-bottom text-white">
    <ul class="flex flex-col p-4 gap-6 backdrop-blur-sm">
        <li class="flex flex-row justify-between">
            <a class="invert" routerLink="/links">Liens</a>
            <a class="invert" routerLink="/cgv">CGV</a>
        </li>
        <li class="relative pl-12">
            <a href="mailto:jean-marc.siaud@orange.fr">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="akar-icons:envelope"></span>
                <span class="invert">jean-marc.siaud@orange.fr</span>
            </a>
        </li>
        <li class="relative pl-12">
            <a href="tel:0663278630">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="carbon:phone-filled"></span>
                <span class="invert">06.63.27.86.30</span>
            </a>
        </li>
        <li class="relative pl-12">
            <a href="https://goo.gl/maps/tvH6LEovsW5BuMcm7">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="ep:map-location"></span>
                <span class="invert">24 Rue Varanfrain<br>05700 Serres</span>
            </a>
        </li>
        <li class="self-center">
            <a href="">
                <span class="iconify mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="akar-icons:facebook-fill"></span>
            </a>
        </li>
    </ul>
</footer>