<footer class="text-xl bg-brown p-4 mt-4">
    <ul class="flex flex-col gap-6">
        <li class="flex flex-row justify-between">
            <a routerLink="/links">Liens</a>
            <a routerLink="">CGV</a>
        </li>
        <li class="relative pl-12">
            <a href="mailto:jean-marc.siaud@orange.fr">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="akar-icons:envelope"></span>
                jean-marc.siaud@orange.fr
            </a>
        </li>
        <li class="relative pl-12">
            <a href="tel:0663278630">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="carbon:phone-filled"></span>
                06.63.27.86.30
            </a>
        </li>
        <li class="relative pl-12">
            <a href="https://goo.gl/maps/tvH6LEovsW5BuMcm7">
                <span class="iconify absolute top-0 bottom-0 my-auto -left-2 mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="ep:map-location"></span>
                24 Rue Varanfrain<br>05700 Serres
            </a>
        </li>
        <li class="self-center">
            <a href="">
                <span class="iconify mix-blend-lighten text-black drop-shadow-icon w-10 h-10" data-icon="akar-icons:facebook-fill"></span>
            </a>
        </li>
    </ul>
</footer>