<main class="mt-20 p-3 pt-8 flex flex-col gap-y-5 w-full font-serif text-xl">
    <h1 class="text-brown text-center text-5xl">{{product.title}}</h1>
    <div id="caroussel" class="caroussel w-14/20 mx-auto relative overflow-hidden" data-nb="0">
        <!-- h-52 -->
        
        <img *ngFor="let img of product.images; let isFirst = first" src="{{img}}" alt="" class="h-full absolute {{isFirst ? 'left-0' : 'left-full'}} duration-1000 m-auto top-0 bottom-0">
        <!-- <img src="{{apiURL}}/uploads/small_Couteau_Skog_Acceuil_845x575_dc8ce1efb8.jpg" alt="" class="w-full absolute left-0 duration-1000">
        <img src="{{apiURL}}/uploads/small_2_7_cee4d7128a.jpg" alt="" class="w-full absolute left-full  duration-1000"> -->
    </div>
    <div *ngIf="product.description">
        <p>{{product.description}}</p>
    </div>
    <div *ngIf="product.video">
        <h2 class="text-center mb-4">Démonstration :</h2>
        <iframe [src]="product.video | safe" class="mx-auto"></iframe>
    </div>
    
    <div *ngIf="product.caracteristics" class="w-full">
        <h2 class="text-center mb-4">Caractéristiques :</h2>
        <table class="mx-auto w-18/20">
            <tr *ngFor="let caracteristic of product.caracteristics" class="bg-blue-200 even:bg-white w-full">
                <td class="text-left">{{caracteristic.name}}</td>
                <td class="text-right">{{caracteristic.value}}</td>
            </tr>
        </table>
    </div>
    <div class="text-center mx-auto flex flex-col gap-y-2" *ngIf="product.file">
        <a class="nm-flat-brown rounded-xl py-2 px-4" href="{{product.file}}" target="_blank">Télécharger la fiche</a>
    </div>
</main>